.container{
    border: 1px solid black;
    padding: 20px;
    width: 400px;
    
}

.parentContainer{
    display: flex;
    justify-content: center;
    align-content: center;
}

.inputs{
    width: 300px;
    height: 25px;
   margin: 3px 0px 3px 0px;
}

.fieldcontainer{
   
    margin: 0px 0px 10px 40px;
    position: relative;
}

.login{
    background-color: rgb(26, 174, 26);
    width: 60px;
    height: 30px;
    margin-left: 175px;
    margin-top: 20px;
}

.danger{
color: red;
}

.icon{
    position: absolute;
    left: 280px;
    bottom:10px
}